:root {
  --berkeley-blue: #003262;
  --california-gold-hex: #fdb515;
  --grey: #eeeeee;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--grey);
  background-image: url('./assets/background_wall.png');
}

/* Navbar */

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--california-gold-hex);
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 5rem;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--berkeley-blue);
}

.navbar a:hover,
/* .navbar :active, */
.navbar a.active {
  color: #3b7ea1;
}

/* Contact */

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  transform: translateY(50%);
}

.contact {
  text-align: center;
  cursor: pointer;
}

.contact:hover {
  filter: opacity(0.3);
}

.contact svg {
  display: inline;
  transform: scale(3);
  margin-right: 30px;
}

.contact h1 {
  margin-left: 30px;
  display: inline;
}

/* Skills */

.skills {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.skill {
  padding: 10px;
  width: 80%;
  height: 180px;
  background-color: var(--california-gold-hex);
  border-radius: 10px;
}

.skill:hover {
  opacity: 0.8;
}

.skill h2 {
  color: white;
  font-size: 27px;
  font-weight: 400;
  position: relative;
  bottom: 10px;
  left: 20px;
}

.logos {
  display: flex;
}

.logos img {
  display: inline-flex;
  position: relative;
  bottom: 10px;
  height: 80px;
  padding: 0 25px;
}

#sql {
  padding-left: 40px;
}

#jest {
  position: relative;
  top: 1px;
  transform: scale(2.75);
}

#express {
  position: relative;
  top: 8px;
  height: 50px;
}
